[Desktop Entry]
Icon=www
Name=http://www.ncbi.nlm.nih.gov/mapview/maps.cgi?taxid=4932&chr=I
Type=Link
URL=http://www.ncbi.nlm.nih.gov/mapview/maps.cgi?taxid=4932&chr=I
